*.o
*.d
output.txt
trace.txt
.gdbinit
lab3/lab3
lab2re
lab3re
lab4re
lab5re
.vscode
proj/system/proj
proj/data/sprites/tmp
proj/system/proj
proj/.idea/codeStyles/codeStyleConfig.xml

proj/.idea/codeStyles/Project.xml

proj/.idea/modules.xml

proj/.idea/proj.iml

proj/.idea/vcs.xml

proj/.idea/workspace.xml

proj/docs/

.idea/g01.iml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

proj/.idea/codeStyles/codeStyleConfig.xml

proj/.idea/codeStyles/Project.xml

proj/.idea/modules.xml

proj/.idea/proj.iml

proj/.idea/vcs.xml

proj/.idea/workspace.xml

proj/docs/
proj/docs2/
proj/docs3/
proj/docs4/

latex/

lab4re/

lab5re/
labuart/lab5
